:root{  /*declares global variable*/
    --GRID_SIZE: 16;
    --PIXEL_SIZE: 40px;
}

body{
    background-color: lightgoldenrodyellow;
}

#etch_pad{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid{
    display: grid;

    grid-template-columns: repeat(var(--GRID_SIZE), var(--PIXEL_SIZE));
    grid-template-rows: repeat(var(--GRID_SIZE), var(--PIXEL_SIZE));

    width: 640px;
    height: 640px;

    border: solid;
    border-color: red;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-width: 20px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 0px;
}

.pixel{
    background-color: white;
}

#pad_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 640px;
    min-height: 100px;
    background-color: red;

    border: solid;
    border-color: red;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-width: 0px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-bottom-width: 0px;
}

#clear_grid{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 30px;
    background-color: white;
    border-radius: 8px;
    border-style: ridge;
}

#clear_grid:hover{
    background-color: rgb(235, 235, 235);
}

#clear_grid:active{
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}